body{
    background:rgb(70, 69, 69)
}
.nav-background{
    
    background-color:#17191D ;
    opacity: 0.9;
}
.nav-logo{
    width: 200px;
    margin-left: -18rem;
    background-color:goldenrod;
    color:white;
    transform: skew(20deg, 0deg);
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.nav-skew1{
    transform: skew(-20deg, 0deg);
    font-size: large;
}
.nav-r{
    margin-left: 70rem;
}
.nav-r2{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 70rem;
}
.dashboard-left{
    
    width: 50%;
    height:100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   ;
  
    
    opacity: 0.9;
}
.dashboard-right{
    height: 100%;
    
    width: 50%;
    
    ; 
   
    opacity: 0.9;
    
}
.project-title{
    font-size: large;
    color: white;
}
.date{
    font-size: small;
    color:black;
}
.postedby{
    color: white;
}
.dashboard-r{
    
    display: flex;
    flex-direction: row;
     ;
    
    align-content: space-between;
    
}
.ProjectListSec{
    margin-top: 3rem;
    width: 200px;
    background: goldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    
}
.dashboard{
    height: 100vh;
    ;
    opacity: 0.9;
    
}
.ProjectList{
    display: flex;
    flex-direction: column;
    align-items: space-be;
    justify-content: center;
}
.signin-title{
    color:white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}
.signin{
    margin-top:50px;
    width:360px;
    height:580px;
    background-color: #17191D ;
    padding: 80px 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left:750px;
    
}
.inputnav{
    font-size: 15px;
    border:none;
    width: 100%;
    outline: none;
    background: none;
    
    
}
.button-signin{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: goldenrod;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
    color: white;
}
.signin-label-text{
    color: white;
}
.signup{
    margin-top:50px;
    width:360px;
    height:580px;
    background-color: #17191D ;
    padding: 80px 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left:750px;
}
.signup-label-text{
    color: white;
}
.button-signup{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: goldenrod;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    color: white;
}
.signup-title{
    color:white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}